<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Header and footer</title>
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" > -->
<link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
<!-- <link rel="stylesheet" 
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
		crossorigin="anonymous"   
		-->
		
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="../../static/js/script.js"></script>
 -->
 
</head>
<body>

	<div class="nav">
		<div class="container">
			<ul class="pull-left">
	 			<li><a href="#">Blogs</a></li>
				<li><a href="#">About</a></li>	 
	    	</ul>
	 	 	 
			<ul class="pull-right">	 
				<li><a href="#">Ask a question</a></li>				 
				<li><a href="#">Links</a></li>
		    </ul>
	  </div>	 
	</div>
	
	<div >
	</div>
</body>
</html>