<!DOCTYPE html>
<html xmlns:th="xmlns:th="http://www.thymeleaf.org"">
<!-- <html> -->
<!-- https://www.thymeleaf.org/ -->
<head>
<meta charset="UTF-8">
<title>Register</title>
<style type="text/css">
	label {
	display: inline-block;
	width: 200px;
	margin: 5px;
	text-align: left;
}
</style>
</head>
<body>
	<div align="center">
		<p style="text-align: center;">Register page</p>
		<form action="#" method="post" th:action="@{/register}" th:object="${user}">
			<div class="row">
				<label>Name</label>
				<input type="text" th:field="*{name}"> 
			</div><br>
			<div class="row">
				<label>Username</label>
				<select th:field="*{username}">
					<option th:each="p: ${usernames}" th:value="${p}" th:text="${p}" />
				</select>
			</div><br> 
			<div class="row">
				<label>Date of Birth (yyyy-mm-dd)</label>
				<input type="text" th:field="*{dob}"> 
				
			</div><br>
			<!-- <div class="row">
				<label>Username</label>
				<input type="text" th:field="*{name}"> 
				
			</div><br>
			<div class="row">
				<label>Username</label>
				<input type="text" th:field="*{name}"> 
				
			</div><br> -->
			<!-- <div  class="row">
				<label>Username</label>
				<input type="text" th:field="*{name}"> 
				
			</div> -->
			<br><br>
			<button>SUBMIT</button>
		</form>
		<!-- <form action="#" th:action="/register" th:object="user" method="post">
			<div class="row">
				<label>Username</label>
				<input type="text" th:field="*{username}">
			</div>
		</form> -->
	</div>
</body>
</html>