<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- <html> -->
<!-- https://www.thymeleaf.org/ -->
<head>
<meta charset="UTF-8">
<title>Register</title>
</head>
<body>
	<div align="center">
		<p style="text-align: center;">Register Success</p>
		<span>Name : </span><span th:text="${user.name}"></span><br>
		<span>Username : </span><span th:text="${user.name}"></span><br>
		
	<a href="/user/list">Show all users</a>
		<!-- <span>Birthday : </span><span th:text="${user.dob}"></span> -->
		
	</div>
</body>
</html>