<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Users list</title>
	
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
	<!-- <script src="../static/js/script.js"></script> -->
	
	<script type="text/javascript" src="../static/js/jquery.min.js"></script>
	<script type="text/javascript">
	 	function header(){
	 		$(document).ready(function(){
	 			  $('.header').load("./util/headerAndFooter.html");
	 			});
	 	}
	 </script>

</head>
<body onload="header()">
	<div id="header"></div>
	<p style="text-align: center;">User list</p>
	<span th:text="${#lists.isEmpty(userList)}"> List is empty </span>
	
	<div>
		<span th:if="${#lists.isEmpty(userList)}">You don not have any users</span>
    	<div th:unless="${#lists.isEmpty(userList)}">
    		<table>
			    <tr>
			        <th>No</th>
			        <th>Name</th>
			        <th>Salary</th>
			        <th>Position</th>
			    </tr>
			    <tr th:each="employee, stat : ${userList}">
			        <td th:text="${stat.index}">1</td>
			        <td th:text="${employee.name}">John Doe</td>
			        <td th:text="${employee.username}">12221</td>
			        <!-- <td th:text="${#strings.toLowerCase(employee.position.name())}">director</td> -->
			        <td th:text="${stat}">director</td>
			    </tr>
			</table>
    	</div>
	</div>
	
	<!-- <table>
	    <tr>
	        <th>No</th>
	        <th>Name</th>
	        <th>Salary</th>
	        <th>Position</th>
	    </tr>
	    <tr th:each="employee, stat : ${employees}">
	        <td th:text="${stat.index + 1}">1</td>
	        <td th:text="${employee.name}">John Doe</td>
	        <td th:text="${employee.salary}">12221</td>
	        <td th:text="${#strings.toLowerCase(employee.position.name())}">director</td>
	    </tr>
	</table> -->
</body>
</html>